# org export
# podman
# qemu
**/*.html
**/*.iso
**/*.jar
**/*.log
**/*.nvimlog
**/*.pdf
**/*.pre
**/*.qcow2
**/*.tex
**/*.zip
**/.oracle.*
**/tds.sh
*.b0
*.bak
*.buf
*.reg
*.rkt~
*.swo
*.swp
.*.sql
.object.list
.tables
.vscode/
TAGS
\*shell\*
all/ide/idea/**/IntelliJ\ IDEA\ Global\ Settings
all/ide/idea/**/installed.txt
all/ide/idea/*/IntelliJ\ IDEA\ Global\ Settings
all/ide/idea/*/installed.txt
all/ide/idea/*/options/
all/ide/idea/darwin/options/
cscope.out
exp-*.sql
object.list
podman/capture.pcap
tags
ul/nginx.conf
ul/nginx.sh
ul/oracle/.tables-trimed
ul/td_*.bat
ul/td_sha1sum.sh
