.tables
.object.list
object.list
ul/oracle/.tables-trimed
.*.sql
exp-*.log
exp-*.sql

*.buf
*.swp
*.reg

TAGS
*.rkt~
tags
\*shell\*
ul/td_sha1sum.sh
ul/td_*.bat
all/ide/idea/**/installed.txt
all/ide/idea/**/IntelliJ\ IDEA\ Global\ Settings
all/ide/idea/darwin/options/
all/ide/idea/win/options/
