<?xml version=“1.0” encoding=“UTF-8”?>
<!DOCTYPE plist PUBLIC “-//Apple//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd”>
<plist version=“1.0”>
<dict>
	<key>Label</key><string>local.net.ipv4to6</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/bin/renew-ipv6-tunnel-ipv4.sh</string>
	</array>
	<key>StandardErrorPath</key><string>/var/log/local.net.ipv4to6.log</string>
	<key>StandardOutPath</key><string>/var/log/local.net.ipv4to6.log</string>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>StartInterval</key><integer>900</integer>
</dict>
</plist>

